.footer {
    background-color: $color-4;
    width: 100%;
    padding: 30px 20px;
    margin-bottom: 0;
    p {
        color: $color-2;
        text-align: center;
        margin: 0px;
    }
}